@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-expletus: 'Expletus Sans', sans-serif;
}

body {
  font-family: var(--font-expletus);
}
@layer {
  html,
  body {
    height: 100%;
    color: white;
  }

  #__next {
    height: 100%;
  }
}